a:link { /*https://www.quora.com/What-is-the-default-colour-of-an-active-HTML-link*/
	color: #0000EE;
	text-decoration: none;
}
a:visited {
	color: #551A8B; 
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	background-color: #FFFFCC;
}
option { 
	background: #FFFFFF; 
}
option:nth-child(odd) { 
	background: #DCDCDC; 
}
table.table_results {
	border-collapse: collapse;
	border: 1px solid black;	
	width: 100%; 
}
th.tv { /*tabeli päis*/
	background-color: #cce6ff;	
	text-align: center;
	line-height: 1.4;
	border: 1px solid black;
}
th.tv_small { /*tabeli päis*/
	background-color: #cce6ff;
	font-size: 0.8rem;
	text-align: center;
	line-height: 1.4;
	border: 1px solid black;
}
tr.tv1 { /*tumedam*/
	background-color: #DCDCDC;
	line-height: 1.4;
	border: 1px solid black;
}
tr.tv2 { /*heledam*/
	background-color: #FFFFFF;
	line-height: 1.4;
	border: 1px solid black;
}
tr.tv1_small { /*tumedam*/
	background-color: #DCDCDC;
	font-size: 0.8rem;
	line-height: 1.4;
	border: 1px solid black;
}
tr.tv2_small { /*heledam*/
	background-color: #FFFFFF;
	font-size: 0.8rem;
	line-height: 1.4;
	border: 1px solid black;
}
tr.tv1:hover, tr.tv2:hover, tr.tv1_small:hover, tr.tv2_small:hover {
	background-color:#FFCCCC;
}
td.table_results {
	border: 1px solid black;
	padding: 3px;
}
div.medium_line_spacing {
	line-height: 1.4;
}